.btn {
  /* padding: 0; */
  min-height: 50px;
  min-width: 200px;

  /* color: var(--primary-white-color);
  background-color: #188ce8; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

  /* font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px; */

  /* transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  } */

  color: var(--black-color);
  background-color: transparent;

  border-radius: 25px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}
