.order {
  padding: 20px;
  background-color: #424549;
}

.status__container {
  display: flex;
  justify-content: space-between;
}

.status__btn {
  border: none;
  border-radius: 8px;
}

.status__btn--new {
  background-color: gray;
}

.status__btn--in-process {
  background-color: yellow;
}

.status__btn--completed {
  background-color: green;
}

.status__btn--canceled {
  background-color: red;
}

.order__block {
  padding: 12px 0;
  border-top: 1px solid var(--white-color);
}

.order__title {
  margin-bottom: 12px;
  margin-right: auto;
  font-size: 20px;
}

.order__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 12px;
}

.order__list-item {
  display: flex;
}

.order__btn--add {
  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 8px;
}
