.about__text {
  font-size: 14px;
  margin-bottom: 20px;
}

.features__title {
  font-size: 24px;
  margin-bottom: 12px;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 20px;
}

.features__text {
  font-size: 14px;
}

.features__strong-text {
  font-size: 18px;
}
